<h2>Create a new Entry: </h2>

<form class="" action="index.html" method="post">
    <label for="place">Location:</label>
    <input type="text" name="location_name" value="Name of Location">
    <label for="content">Notes about this place:</label>
    <input type="text" name="content" value="">
    <input type="submit" name="" value="Submit">
</form>